<html>
<head>
	<meta charset="UTF-8">
	<title>Fake Search</title>
</head>
<body>
	<h1>Fake naver</h1>
	<form action="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&" method="get">
  	네이버 검색: <input type="text" name="query"><br>
  	<input type="submit" value="검색하기">
  	</form>

  <form action="https://www.google.co.kr/search" method="get">
  	구글 검색: <input type="text" name="q"><br>
  	<input type="submit" value="검색하기">
  	</form>

  <form action="https://search.daum.net/search" method="get">
    다음 검색: <input type="text" name="q"><br>
    <input type="submit" value="검색하기">
   </form>
</body>
</html>