
<html>
<head>
  <meta charset="UTF-8">
  <title>Overlog</title>
</head>
<body>
<h1>롤 전적 검색</h1>
  <form action="/search">
  아이디 : <input type ="text" name = "id">
  <input type ="submit">
</form>
</body>
</html>